<head>
    <title>Pew Pew World Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
</head>
<body>
    <div id="app">
        <v-app>
            <v-container>
                <h1 class="display-1">Pew Pew World Editor</h1>
                <v-form id="loadJSON" name="loadJSON" enctype="multipart/form-data" method="post">
                    <v-file-input type='file' accept=".json" label="Import the World File: /game/data/defaultLevel.json" id='fileinput' @change="importWorld"></v-file-input>
                    <v-btn v-if="downloadURL != null" color="success" :href="downloadURL" download="defaultLevel">Save World</v-btn>
                </v-form>
                <h3 v-if="worldObj == null" class="subtitle-1">Please import the defaultLevel.json from /game/data/defaultLevel.json</h3>
                <v-row v-else>
                    <v-col cols="12" md="3">
                        <v-card
                            class="mx-auto"
                            tile
                        >
                            <v-list shaped>
                              <v-subheader>Worlds</v-subheader>
                              <v-list-item-group v-model="selectedWorld" color="primary">
                                <v-list-item
                                  v-for="(world, i) in worldObj"
                                  :key="i"
                                >
                                  <v-list-item-content>
                                    <v-list-item-title v-text="world.name"></v-list-item-title>
                                  </v-list-item-content>
                                </v-list-item>
                              </v-list-item-group>
                            </v-list>
                            <v-card-actions>
                                <v-btn color="success" @click='() => {
                                  let world = {
                                        "name": `World ${worldObj.length}`,
                                        "totalBlock": 100,
                                        "height": 30,
                                        "minWidth": 75,
                                        "maxWidth": 250,
                                        "monsterDifficulty": 1.0,
                                        "RegenEntities": [],
                                        "SpeedEntities": [],
                                        "RifleEntities": []
                                  };
                                  worldObj.push(world);}'>Add
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                    <v-col cols="12" md="9">
                        <v-card
                            class="mx-auto"
                            fillheight
                            tile
                        >   
                            <v-container v-if="selectedWorld == null">
                                <h1 class="headline">Please select a world</h1>
                            </v-container>
                            <v-container v-else>
                                <h1 class="headline">Selected World: {{ worldObj[selectedWorld].name + ' ID:' +selectedWorld }}</h1>
                                <v-row>
                                    <v-col>
                                        <v-text-field v-model="worldObj[selectedWorld].name" label="Name"></v-text-field>
                                        
                                        <v-slider
                                            v-model="worldObj[selectedWorld].totalBlock"
                                            class="align-center"
                                            max="300"
                                            min="10"
                                            label="Number of Blocks"
                                        >
                                            <template v-slot:append>
                                              <v-text-field
                                                v-model="worldObj[selectedWorld].totalBlock"
                                                class="mt-0 pt-0"
                                                hide-details
                                                single-line
                                                type="number"
                                                style="width: 60px"
                                              ></v-text-field>
                                            </template>
                                        </v-slider>
                                        
                                        <v-slider
                                            v-model="worldObj[selectedWorld].minWidth"
                                            class="align-center"
                                            max="400"
                                            min="10"
                                            label="Min Width of Blocks"
                                        >
                                            <template v-slot:append>
                                              <v-text-field
                                                v-model="worldObj[selectedWorld].minWidth"
                                                class="mt-0 pt-0"
                                                type="number"
                                                style="width: 60px"
                                              ></v-text-field>
                                            </template>
                                        </v-slider>
                                        <v-slider
                                            v-model="worldObj[selectedWorld].maxWidth"
                                            class="align-center"
                                            max="400"
                                            min="10"
                                            label="Max Width of Blocks"
                                        >
                                            <template v-slot:append>
                                              <v-text-field
                                                v-model="worldObj[selectedWorld].maxWidth"
                                                class="mt-0 pt-0"
                                                type="number"
                                                style="width: 60px"
                                              ></v-text-field>
                                            </template>
                                        </v-slider>
                                        
                                        <v-slider
                                            v-model="worldObj[selectedWorld].monsterDifficulty"
                                            class="align-center"
                                            :max="3.0"
                                            :step="0.1"
                                            :min="1.0"
                                            label="Monster Difficulty"
                                        >
                                            <template v-slot:append>
                                              <v-text-field
                                                v-model="worldObj[selectedWorld].monsterDifficulty"
                                                :max="3.0"
                                                :step="0.1"
                                                :min="1.0"
                                                class="mt-0 pt-0"
                                                type="number"
                                                style="width: 60px"
                                              ></v-text-field>
                                            </template>
                                        </v-slider>
                                        <v-expansion-panels>
                                          <v-expansion-panel>
                                            <v-expansion-panel-header>Regenerations</v-expansion-panel-header>
                                              <v-expansion-panel-content>
                                                <v-row v-for="(r, i) in worldObj[selectedWorld].RegenEntities" :key="i">
                                                  <v-col cols="3">
                                                    <span>Entity {{i + 1}}</span>
                                                  </v-col>
                                                  <v-col cols="2">
                                                    <v-text-field
                                                      :min="0"
                                                      :max="worldObj[selectedWorld].totalBlock"
                                                      label="Position"
                                                      v-model="r.block"
                                                      class="mt-0 pt-0"
                                                      style="width: 60px"
                                                      type="number"
                                                    ></v-text-field>
                                                  </v-col>
                                                  <v-col cols="2">
                                                    <v-text-field
                                                      label="Health"
                                                      v-model="r.health"
                                                      class="mt-0 pt-0"
                                                      type="number"
                                                      style="width: 60px"
                                                    ></v-text-field>
                                                  </v-col>
                                                  <v-col cols="4">
                                                    <v-btn color="error" @click='() => { worldObj[selectedWorld].RegenEntities = worldObj[selectedWorld].RegenEntities.remove(i); }'>Remove</v-btn>
                                                  </v-col>
                                                </v-row>
                                                <v-row>
                                                  <v-btn color="success" @click='() => { worldObj[selectedWorld].RegenEntities.push({
                                                    "block": Math.round(worldObj[selectedWorld].totalBlock / 2),
                                                    "health": 30
                                                  }); }'>Add</v-btn>
                                                </v-row>
                                              </v-expansion-panel-content>
                                          </v-expansion-panel>
                                          
                                          <v-expansion-panel>
                                            <v-expansion-panel-header>Speed Boosts</v-expansion-panel-header>
                                              <v-expansion-panel-content>
                                                <v-row v-for="(r, i) in worldObj[selectedWorld].SpeedEntities" :key="i">
                                                  <v-col cols="3">
                                                    <span>Entity {{i + 1}}</span>
                                                  </v-col>
                                                  <v-col cols="2">
                                                    <v-text-field
                                                      :min="0"
                                                      :max="worldObj[selectedWorld].totalBlock"
                                                      label="Position"
                                                      v-model="r.block"
                                                      class="mt-0 pt-0"
                                                      style="width: 60px"
                                                      type="number"
                                                    ></v-text-field>
                                                  </v-col>
                                                  <v-col cols="2">
                                                    <v-text-field
                                                      :min="1.0"
                                                      :max="10.0"
                                                      step="0.5"
                                                      label="Speed"
                                                      v-model="r.speed"
                                                      class="mt-0 pt-0"
                                                      type="number"
                                                      style="width: 60px"
                                                    ></v-text-field>
                                                  </v-col>
                                                  <v-col cols="2">
                                                    <v-text-field
                                                      :min="0.1"
                                                      :max="100.0"
                                                      step="0.5"
                                                      label="Duration"
                                                      v-model="r.duration"
                                                      class="mt-0 pt-0"
                                                      type="number"
                                                      style="width: 60px"
                                                    ></v-text-field>
                                                  </v-col>
                                                  <v-col cols="2">
                                                    <v-btn color="error" @click='() => { worldObj[selectedWorld].SpeedEntities = worldObj[selectedWorld].SpeedEntities.remove(i); }'>Remove</v-btn>
                                                  </v-col>
                                                </v-row>
                                                <v-row>
                                                  <v-btn color="success" @click='() => { worldObj[selectedWorld].SpeedEntities.push({
                                                    "block": Math.round(worldObj[selectedWorld].totalBlock / 2),
                                                    "speed": 6.5,
                                                    "duration": 5.0
                                                  }); }'>Add</v-btn>
                                                </v-row>
                                              </v-expansion-panel-content>
                                          </v-expansion-panel>
                                          <v-expansion-panel>
                                            <v-expansion-panel-header>Rifles</v-expansion-panel-header>
                                              <v-expansion-panel-content>
                                                <v-row v-for="(r, i) in worldObj[selectedWorld].RifleEntities" :key="i">
                                                  <v-col cols="2">
                                                    <span>Entity {{i + 1}}</span>
                                                  </v-col>
                                                  <v-col cols="2">
                                                    <v-text-field
                                                      :min="0"
                                                      :max="worldObj[selectedWorld].totalBlock"
                                                      label="Position"
                                                      v-model="r.block"
                                                      class="mt-0 pt-0"
                                                      style="width: 60px"
                                                      type="number"
                                                    ></v-text-field>
                                                  </v-col>
                                                  <v-col cols="2">
                                                    <v-text-field
                                                      :min="1"
                                                      :max="30"
                                                      label="Firerate"
                                                      v-model="r.fireRate"
                                                      class="mt-0 pt-0"
                                                      type="number"
                                                      style="width: 60px"
                                                    ></v-text-field>
                                                  </v-col>
                                                  <v-col cols="2">
                                                    <v-text-field
                                                      :min="1"
                                                      :max="300"
                                                      label="Clip Size"
                                                      v-model="r.maxClip"
                                                      class="mt-0 pt-0"
                                                      type="number"
                                                      style="width: 60px"
                                                    ></v-text-field>
                                                  </v-col>
                                                  <v-col cols="2">
                                                    <v-text-field
                                                      :min="1.0"
                                                      :max="5.0"
                                                      step="0.5"
                                                      label="Reload Time"
                                                      v-model="r.reloadTime"
                                                      class="mt-0 pt-0"
                                                      type="number"
                                                      style="width: 60px"
                                                    ></v-text-field>
                                                  </v-col>
                                                  <v-col cols="2">
                                                    <v-text-field
                                                      :min="5.0"
                                                      :max="30.0"
                                                      step="1.0"
                                                      label="Bullet Speed"
                                                      v-model="r.speed"
                                                      class="mt-0 pt-0"
                                                      type="number"
                                                      style="width: 60px"
                                                    ></v-text-field>
                                                  </v-col>
                                                  <v-col cols="2">
                                                    <v-text-field
                                                      :min="0.0"
                                                      :max="100.0"
                                                      step="5"
                                                      label="Damage"
                                                      v-model="r.damage"
                                                      class="mt-0 pt-0"
                                                      type="number"
                                                      style="width: 60px"
                                                    ></v-text-field>
                                                  </v-col>
                                                  <v-col cols="4">
                                                    <v-btn color="error" @click='() => { worldObj[selectedWorld].RifleEntities = worldObj[selectedWorld].RifleEntities.remove(i); }'>Remove</v-btn>
                                                  </v-col>
                                                </v-row>
                                                <v-row>
                                                  <v-btn color="success" @click='() => { worldObj[selectedWorld].RifleEntities.push(
                                                    {
                                                      "block": 5,
                                                      "fireRate": 10,
                                                      "maxClip": 30,
                                                      "reloadTime": 3.0,
                                                      "speed": 10.0,
                                                      "damage": 25.0,
                                                      "image": "weapon.png"
                                                    });
                                                  }'>
                                                  Add
                                                  </v-btn>
                                                </v-row>
                                              </v-expansion-panel-content>
                                          </v-expansion-panel>
                                        </v-expansion-panels>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-app>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>
    Array.prototype.remove = function(index){
      return [].concat(this.slice(0, index), this.slice(index+1, this.length));
    }

    let App = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: {
        worldObj: null,
        selectedWorld: null,
        downloadURL: null
      },
      mounted: function(){
        let vm = this;
      },
      methods: {
        importWorld: function(){
            let vm = this;
            let input, file, fr;

            if (typeof window.FileReader !== 'function') {
              alert("This browser doesn't support the File API");
              return;
            }

            input = document.getElementById('fileinput');
            if(!input.files){
              return alert("This browser doesn't support the File API");
            }else if(!input.files[0]){
              return alert("Please select a file before clicking 'Import World'");
            }
            file = input.files[0];
            fr = new FileReader();
            fr.onload = loadJSON;
            fr.readAsText(file);

            function loadJSON(e) {
              let lines = e.target.result;
              var jsonobj = JSON.parse(lines);
              console.log(`Loaded World: ${jsonobj}`);
              vm.worldObj = jsonobj;
            }
        }
      },
      watch: {
        worldObj: {
            handler: function (n, o){
                if(this.worldObj.length > 0 && this.selectedWorld == null){
                    this.selectedWorld = 0;
                }
                for(i in this.worldObj){
                    if(!o)return;
                    if(o[i].maxWidth < this.worldObj[i].minWidth && o[i].maxWidth == this.worldObj[i].maxWidth){
                        let w = n[i].minWidth;
                        this.worldObj[i].minWidth = o[i].maxWidth;
                        if(n[i].minWidth < w){
                            this.worldObj[i].maxWidth = w;
                        }
                    }
                }
                var json = JSON.stringify(this.worldObj, null, 4);
                var defaultWorld = new Blob([json], {type: "application/json"});
                this.downloadURL = URL.createObjectURL(defaultWorld);
            },
            deep: true
        }
      }
    });
</script>
